NUXT_PUBLIC_API_BASE=http://localhost:3000/api/v1
NUXT_PUBLIC_KEYCLOAK_URL=http://localhost:8080
NUXT_PUBLIC_KEYCLOAK_REALM=travelnest
NUXT_PUBLIC_KEYCLOAK_CLIENT_ID=travelnest-admin
NUXT_PUBLIC_KEYCLOAK_SILENT_CHECK_SSO_REDIRECT_URI=http://localhost:8000/silent-check-sso.html
