node_modules
npm-debug.log
.env
.env.*
!.env.format
.git
.gitignore
README.md
.eslintrc.cjs
.prettierrc.json
.prettierignore
*.md
dist
coverage
.DS_Store
.vscode
.idea
Dockerfile*
docker-compose*.yml
.dockerignore
