node_modules
npm-debug.log
.env
.env.*
!.env.format
.git
.gitignore
README.md
.eslintrc.js
.prettierrc
.prettierignore
*.md
logs
*.log
coverage
.nyc_output
.DS_Store
.vscode
.idea
__tests__
*.test.js
*.spec.js
Dockerfile*
docker-compose*.yml
.dockerignore
database/migrations
database/seeders
elasticsearch/data
minio-data
../docs
